@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@keyframes ml-loader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-ml-loader {
  animation: ml-loader 1.2s linear infinite;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

.animate-loading-bar {
  width: 40%;
  animation: loading-bar 1.5s infinite ease-in-out;
}


  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
